<!doctype html>
<html>
    <style>
        body{
            font-family: "Exo", sans-serif;
        }
    </style>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo&amp;display=swap'>
            <link rel="stylesheet" href="static/style.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

   <body>

        <div class="container">
            <img class="img center resize" src="static/docker.png" >
            <br><br><br>

            <h1>Whalecome !</h1>
            <br>
                This is a variable

                <h3>FOO: {{FOO}}</h3>
                <br>
                running in:
                <h4> Hostname: {{hostname}}</h4>
                <br>
                swarm mode:
                <h4>Docker Service Name: {{DOCKER_SERVICE_NAME}}</h4>

            <br>
            <h4><a href="https://linktr.ee/marcoscano"> Hunt 💠 </a></h2>
            <!-- jmarcos.cano@gmail.com -->
      </div>
      <br>


   </body>